<%= form_tag("/all_links", id: "edit-links", method: "post") do %>
  <div id="ready">
    <span>Ready to submit</span>
  </div>
  <% puts @converted_links %>
  <% @converted_links.each_with_index do |section, i| %>
    <div class="section">
      <%= "<h2>#{section['section']}</h2>".html_safe %>
      <% section['links'].each_with_index do |link, j| %>

        <span class="link">
          <% unless link['title'].nil? %>
            <span class="edit-link" onClick="toggleInput(<%= "#{i}, #{j}"  %>);">[Edit]</span>
            <span class="author"><%= "<b>#{link['author']} - </b>".html_safe %></span>
            <%= text_field_tag "author#{i}[#{j}]", "", class: "author-input hide" %>

            <% @temp_title = (link['title'] == "manual" ? link['placeholder'] : link['title']) %>
            <%= text_field_tag "title#{i}[#{j}]", @temp_title, class: "title-input hide" %>

            <% @temp_title.split(" ").each_with_index do |title_word, x| %>

              <span>
                <a onClick="caseChange(this, <%= "#{i}, #{j}, #{x}" %>);" class="title-word"><%= title_word %></a>
                <%= check_box_tag "#{i}[#{j}[#{x}]][]", "dc", false, class: "hidden" %>
                <%= check_box_tag "#{i}[#{j}[#{x}]][]", "uc", false, class: "hidden" %>
                <%= check_box_tag "#{i}[#{j}[#{x}]][]", "tc", false, class: "hidden" %>
                <%= check_box_tag "#{i}[#{j}[#{x}]][]", "del", false, class: "hidden" %>
              </span>
            <% end %>

            <%= link_to "#{link['url'].slice(0, 30)}...", link['url'], class: "url", target: "_blank" %>
            <%= link_to "Open frame", preview_site_path(:url => link['url']), remote: true, class: "url_open_frame", onclick: "handleUrlPreview()" %>
            <span class="flaggedspan">
              <% @size_warning = @temp_title.size+link['author'].size+3 > 77 %>
              <% @manual_warning = link['title'] == "manual" %>
              <% if @size_warning == true || @manual_warning == true %>
                <% @msg = "Total length" if @size_warning == true %>
                <% @msg = "Manual entry" if @manual_warning == true %>
                <%= @msg if @msg.present? %>
                <%= check_box_tag "f#{i}[#{j}]", "flagged #{}", true %>
                <%= label_tag "f#{i}[#{j}]", "Flag" %>
              <% else %>
                <%= check_box_tag "f#{i}[#{j}]", "flagged", false %>
                <%= label_tag "f#{i}[#{j}]", "Flag" %>
              <% end %>
            </span>
            <br>
          <% end %>
        </span>
      <% end %>
    </div>
  <% end %>
  <br><br>
  <!-- <text_area_tag(:sites, @new_sites_html, size: "80x12") %> -->
  <%= submit_tag "To HTML" %>
<% end %>


<%= javascript_include_tag "links/edit_links" %>
