<p id="notice"><%= notice %></p>
<h1>Sites</h1>

<%= form_tag("/add_new_sites", method: "post", class: "new_sites_form") do %>
  <table class="new_sites_table">
    <thead>
      <tr>
        <th><a onclick="toggleAllCheckboxes()" class="toggle-checkboxes">Add site</a></th>
        <th>Author</th>
        <th>URL</th>
        <th>CSS</th>
        <th>Article URL</th>
        <th colspan="4"></th>
      </tr>
    </thead>
      <tbody>
        <% @sites.each_with_index do |site, i| %>
          <% @url = site[:url][/(http)s?:\/\/(?<uri>[\w\d\.]+)/, "uri"] %>
          <tr class="deselected">
            <td><%= check_box_tag "selected_sites[]", site.id, false, class: "new_site_checkbox" %></td>
            <td><%= text_field_tag(:author, "", placeholder: "Author") %></td>
            <td><%= text_field_tag(:url, @url, placeholder: "Base URL") %></td>
            <td><%= text_field_tag(:css, "", placeholder: "CSS selector for title") %></td>

            <td>
              <%= link_to "#{site.url.slice(0, 30)}...", site.url, class: "url", target: "_blank" %>
              <%= link_to "Open frame", preview_site_path(:url => site.url), remote: true, class: "url_open_frame", onclick: "handleUrlPreview()" %>
            </td>
            <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to "Update", "javascript:;", onclick: "updateSite(#{site.id}, #{i})" %></td>
            <td class='warning'>Please fill all inputs before updating.</td>
          </tr>
        <% end %>
      </tbody>
  </table>
  <%= check_box_tag "submit_checkbox", "submit" %>
  <%= submit_tag "Submit all", disabled: true %>
<% end %>

<br>

<%= link_to 'Back', sites_path, class: "footer_nav_link" %>
<%= link_to 'New Site', new_site_path, class: "footer_nav_link" %>


<%= javascript_include_tag "sites/new_sites" %>
